@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    @using (Html.BeginForm("ReverseWords", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Word Reverser</legend>
            <div>
                <label for="TheArray">Enter a space-delimited array or words</label><br/>
                <input type="text" name="wordsToReverse" />
            </div>
            <p>
                <input type="submit" value="Reverse it!" />
            </p>
        </fieldset>
    }
</div>
