@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center" style="width: 300px">
    
    @using (Html.BeginForm("ReverseWords", "Home", FormMethod.Post))
    {
        <fieldset>
            <legend>Word Reverser</legend>
            <div>
                <label class="form-label" for="wordsToReverse">Enter a space-delimited set of words</label>
                <input maxlength="50" size="50" class="form-control" type="text" name="wordsToReverse" id="wordsToReverse" required />
                <div class="invalid-feedback">
                    Please enter at least one word.
                </div>
            </div>
            <div style="padding-top: 20px">
                <input class="btn btn-primary" type="submit" value="Reverse it!" />
            </div>
        </fieldset>
    }
</div>
